@import 'tailwindcss';

@theme {
  --font-bai-jamjuree: 'Bai Jamjuree', sans-serif;
  --color-primary-50: #ebebeb;
  --color-primary-100: #d7d3d7;
  --color-primary-200: #bda3bd;
  --color-primary-300: #a374a3;
  --color-primary-400: #704e7d;
  --color-primary-500: #592b59;
  --color-primary-600: #422742;
  --color-primary-700: #312031;
  --color-primary-800: #211921;
  --color-primary-900: #121012;
  --color-primary-950: #0b0b0b;
}

html {
  @apply bg-primary-800;
}

.bg-type-1 {
  @apply bg-primary-600 border border-primary-400 shadow-[0px_2px_10px_4px_rgba(0,0,0,0.25)];
}
.bg-type-1-button {
  @apply text-primary-300 bg-primary-600 border border-primary-400 shadow-[0px_7px_0px_rgba(56,29,56,1.0)] hover:bg-primary-500 hover:border-primary-300 hover:text-primary-200 active:shadow-none active:translate-y-1.75;
}
.bg-type-2 {
  @apply bg-primary-400 border border-primary-300 shadow-[0px_-4px_0px_8px_rgba(0,0,0,0.07)_inset];
}
.bg-type-2-hover {
  @apply bg-primary-400 border border-primary-300 shadow-[0px_-4px_0px_8px_rgba(0,0,0,0.15)_inset] hover:bg-primary-300 hover:border-primary-200;
}
.bg-type-2-selected {
  @apply bg-primary-300 border border-primary-200 shadow-[0px_-4px_0px_8px_rgba(0,0,0,0.25)_inset];
}
